body{
  background-color: salmon;
}
#button{
  margin-right: auto;
  margin-left: 570px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: black;
}

#fortune-cookie-text{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 300px;
  height: 100px;
  text-align: center;
  background-color: lightgreen;
  border: 3px solid;
}

#previous-fortunes{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 10px 10px;
  background-color: pink;
  border: 3px solid;
}